
<form action="/" method="post">
  <label for="title">title</label>
  <input type="text" name="title" id="title" />
  <label for="price">price</label>
  <input type="text" name="price" id="price" />

  <button type="submit">Valider</button>
</form>