

<div class="container">
    <div class="row" style='display: flex; flex-direction: column;'>
        {{#each articles }}
            <div>
                {{ title }}: price: {{ price }} $
            </div>
        {{/each }}
    </div>
</div>